*pycache**
src/xc_integrator/local_work_driver/host/obara_saika/src/*.o
src/xc_integrator/local_work_driver/host/obara_saika/*.a
src/xc_integrator/local_work_driver/host/obara_saika/test/*.o
src/xc_integrator/local_work_driver/host/obara_saika/test/*.x
src/xc_integrator/local_work_driver/host/obara_saika/generator/integral*
src/xc_integrator/local_work_driver/host/obara_saika/generator/obara*
src/xc_integrator/local_work_driver/host/obara_saika/generator/*.x
*.swp
